# Core PyTorch stack
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.6.0+cu126
torchvision==0.21.0+cu126
torchaudio==2.6.0+cu126

# Transformers / LanguageBind
opencv-python
transformers==4.56.2
languagebind
pytorchvideo

# Video processing
transnetv2-pytorch==1.0.5
av
numpy==1.26.4
ffmpeg-python==0.2.0
ami-decord

# API / server
python-multipart
fastapi
uvicorn
supabase
python-dotenv